<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIdentifier</key>
	<string>F592815B-4330-4E72-A11D-D8AA9F3FE0BE</string>
	<key>EndTimeRef</key>
	<dict>
		<key>ContinuousTime</key>
		<integer>1433289458176177</integer>
		<key>UUID</key>
		<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
	</dict>
	<key>HighVolumeMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>1432807458176177</integer>
			<key>UUID</key>
			<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
		</dict>
	</dict>
	<key>HighVolumeSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>LiveMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>1432807458176177</integer>
			<key>UUID</key>
			<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
		</dict>
	</dict>
	<key>OSArchiveVersion</key>
	<integer>4</integer>
	<key>OSLoggingSupportProject</key>
	<string>libtrace-906.200.86</string>
	<key>OSLoggingSupportVersion</key>
	<real>906.20000000000005</real>
	<key>PersistMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>1432807458176177</integer>
			<key>UUID</key>
			<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
		</dict>
	</dict>
	<key>PersistSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SignpostMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>1432807458176177</integer>
			<key>UUID</key>
			<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
		</dict>
	</dict>
	<key>SignpostSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SourceIdentifier</key>
	<string>881133AD-6EF3-452D-807F-15426A292487</string>
	<key>SpecialMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>1432807458176177</integer>
			<key>UUID</key>
			<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>ttl01</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>1267016869670124</integer>
				<key>UUID</key>
				<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
			</dict>
			<key>ttl03</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>1094222505004000</integer>
				<key>UUID</key>
				<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
			</dict>
			<key>ttl07</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>748622505004000</integer>
				<key>UUID</key>
				<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
			</dict>
			<key>ttl14</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>143822505004000</integer>
				<key>UUID</key>
				<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
			</dict>
			<key>ttl30</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>0</integer>
				<key>UUID</key>
				<string>C596ADD2-7740-469F-83E0-05E5E3D4CE11</string>
			</dict>
		</dict>
	</dict>
	<key>SpecialSizeLimit</key>
	<integer>18446744073709551615</integer>
</dict>
</plist>
